<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span>Answer</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="font-family:MyanmarAngoun">
  <ion-row>
    <ion-col padding col-12>
      <p class="category-description">
        {{ category.body }}
      </p>
    </ion-col>
  </ion-row>

  <div *ngIf="answers.length == 0">
    <h3 class="answers-call-out">
      There are no answer at the time
    </h3>
  </div>

  <div *ngIf="answers.length > 0">

    <ion-list class="questions-list">
      <ion-item class="question-item" *ngFor="let answer of answers">
        <ion-row>
          <ion-col col-10>
            <ion-row class="question-details">
              <ion-col col-12>
                <h2 class="question-text">{{ answer.text }}</h2>
              </ion-col>
              <ion-col col-4 class="votes-details">
                <div class="details-wrapper" (click)="openComment(answer)">
                  <span class="details-text">Comment</span>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab right bottom>
    <button ion-fab color="accent">
      <ion-icon name="arrow-dropup"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab class="btn-answer" (click)="createCommantModal()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<!-- <ion-footer>
    <ion-toolbar>
      <button ion-button block (click)="createQuestionModal()" color="ask">
        <b>Have a Question? Ask!</b>
      </button>
    </ion-toolbar>
  </ion-footer> -->