<ion-header >
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <span></span>
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content style="font-family:MyanmarAngoun">
    <ion-row class="category-concept-details" style="background-color: #42A5F5;">
      <ion-col no-padding col-12>
        <h2 class="category-title">{{ category.title }}!</h2>
      </ion-col>
      <ion-col no-padding col-12>
        <p class="category-description">
          {{ category.body }}
        </p>
      </ion-col>
    </ion-row>
  
    <div *ngIf="answers.length == 0">
      <h3 class="answers-call-out">
        There are no answer at the time
      </h3>
    </div>
  
    <div *ngIf="answers.length > 0">
      <!-- <h3 class="questions-call-out">
        <span>Find all the Questions and Answers about </span>
        <ion-badge class="call-out-tag">{{ category.title }}</ion-badge>
        <span class="call-out-explanation"> from the community</span>
      </h3> -->
  
      <ion-list class="questions-list">
        <ion-item class="question-item" *ngFor="let answer of answers" >
          <ion-row>
            <ion-col class="votes-col" col-2>
              <button class="vote-button up-vote" ion-button clear small (click)= "addPositiveVote(answer)">
                <ion-icon name="arrow-up"></ion-icon>
              </button>
              <span class="question-score" [ngClass]="{'good-score': (answer.score) > 0, 'no-score': (answer.score) == 0, 'bad-score': (answer.score) < 0}">{{ answer.score }}</span>
              <button class="vote-button down-vote" ion-button clear small (click)= "addNegativeVote(answer)">
                <ion-icon name="arrow-down"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-10>
              <ion-row class="question-details">
                <ion-col col-12>
                  <h2 class="question-text">{{ answer.body }}</h2>
                </ion-col>
                <ion-col col-4 class="votes-details">
                  <div class="details-wrapper" (click)="openComment(answer)">
                    <span class="details-text">Comment</span>
                  </div>
                </ion-col>
                <!-- <ion-col col-4 class="answers-details" (click)="openAnswers(question)">
                  <div class="details-wrapper">
                    <span class="total-answers">{{ question.answers.length }}</span>
                    <span class="details-text">{{ (question.answers.length > 1 || question.answers.length == 0) ? 'Answers' : 'Answer' }}</span>
                  </div>
                </ion-col> -->
                <ion-col col-4 class="actions-details" *ngIf="userid == ownderid">
                  <button class="delete-button" ion-button small round clear icon-only color="danger" (click)="delete(answer.id)">
                    <ion-icon name="ios-trash-outline"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </div>
    <ion-fab right bottom>
        <button ion-fab color="accent">
          <ion-icon name="arrow-dropup"></ion-icon>
        </button>
        <ion-fab-list side="top">
          <button ion-fab class="btn-answer" (click)="createQuestionModal()">
            <ion-icon name="create"></ion-icon>
          </button>
        </ion-fab-list>
      </ion-fab>
  </ion-content>
  
  <!-- <ion-footer>
    <ion-toolbar>
      <button ion-button block (click)="createQuestionModal()" color="ask">
        <b>Have a Question? Ask!</b>
      </button>
    </ion-toolbar>
  </ion-footer> -->
  