<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="category-concept-card"  *ngFor="let category of categories"
    (click)="openDetails({ category: category })">
    <ion-card-header style="background-color: #42A5F5;padding: 8px;">
      <h2 class="category-title">{{ category.title }}</h2>
    </ion-card-header>
    <ion-card-content style="padding-top: 10px;">
      <!-- <ion-avatar item-start>
        <img style="width:20px;height:20px;" src="assets/imgs/question1.png">
      </ion-avatar> -->
      <ion-row>
        <ion-col no-padding>
          <ion-badge class="category-tag" *ngFor="let tag of category.tags" item-right>{{ tag.name }}</ion-badge>
        </ion-col>
        <div text-right class="category-time">
          {{time | timeAgo}}
        </div>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>