// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$lt-gray: #ddd;
$background-dark: #0277BD;
$background-light: #039BE5;
$backgroundd-pale: #03A9F4;


$SIDEMENU_TOP: #bce0ee;
$SIDEMENU_BOTTOM: #b3dced;
$SIDEMENU_TRANSPARENCY: rgba(255,255,255,0.4);

.background-pale {
    background-color: $backgroundd-pale;
}

.side-menu-item{
    background:none;
    color:white;
    font-weight:300;
    border:0px;
    .item-content{
        background:none;
        &.activated{
            background: $SIDEMENU_TRANSPARENCY;
        }
    } 
}

.item-md.activated{
    background-color: #0277BD;
}

.side-menu-gradient{
    background: linear-gradient(#0277BD, #b3dced);
}


@font-face {
    font-family: 'MyanmarAngoun';
    src: url('../assets/fonts/MyanmarAngoun.ttf');
    src: url('../assets/fonts/MyanmarAngoun.ttf')format('truetype');
    font-weight: bold;    
}

