<!--
  Generated template for the ManageAnswerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <span>Comment</span>
      </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>

</ion-content>
