  <ion-header>
      <ion-toolbar color="primary-pale">
        <ion-buttons start>
          <button ion-button (click)="dismiss()">
            <span ion-text color="white" showWhen="ios">Cancel</span>
            <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title style="font-family:MyanmarAngoun"></ion-title>
      </ion-toolbar>
    </ion-header>
  
  <ion-content >
    <form [formGroup]="answerForm" (ngSubmit)="onSubmit()" >
      <ion-row>
        <ion-col offset-1 col-10>
          <ion-item class="textarea-item">
            <ion-label floating>Write your answer here</ion-label>
            <ion-textarea formControlName="answer" rows="10"></ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col offset-1 col-10>
          <button ion-button block type="submit" color="primary-dark">
            <b>Answer</b>
          </button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
  